body{
    background-image: url("../images/strgzrBG.jpg");
}

div{
    padding: 1%;
}
.container{
    background-color: white;
    height: 100%;
    width: 100%;
}
#map{
    height: 400px;
}
.weather-div{
    text-align:left;
}
