body{
    background-image: url("../images/strgzrBG.jpg");
}

div{
    padding: 1%;
}
.container{
    background-color: white;
    height: 100%;
    width: 100%;
}
#map{
    height: 400px;
}
.weather-div{
    text-align:left;
}
.main-date{
    border-style:solid;
    border-width:1%;
    border-color:#0b8c10;

}