

.stars {
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat center scroll;
}

.twinkling{
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat center scroll;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 2;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat center scroll;
	animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}
.container{
    z-index: 5;
    background-color: #7b818854;
    width: 100%;
    height:auto;
    color:#ffffff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
h1{
    text-align:center;
    padding-top:1%;
    margin:-1% 1% 0 0;
}
#header{
    margin: 1%;
}
#map{
    
    height: 400px;
    text-shadow:none;
    margin:1%;
}
.instructions{
    font-size: 1.3em;
    color:#ffffff;
}
.validation{
    width: 30%;
    padding:1%;
}
.weather-div{
    text-align:left;
    padding:1%;
}
.main-date{
    border-style:solid;
    border-width:1%;
    border-color:#0b8c10;
}
.divider{
    padding:2%;
    background-color: #ffffff00;
}
#user-btn{
    display: none;
}
#user-date{
    background-color:#7b81889f;
}
@media (min-width: 320px) and (max-width: 480px) {
    .head-info{
        font-size:0.8em;
    }
    .instructions{
        font-size:1em;
    }
    .weather-div{
        font-size:0.8em;
    }
}
